// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Couleurs principales :

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$location-background-color: #EAEAEA;
$general-background-color: #F6F6F6;

// Fonts principales :

$font-fam-title: 'Shrikhand', serif;
$font-fam-text: 'Roboto', sans-serif;

$font-size: 1rem;

$font-weight-title: 700;
$font-weight-text: 500;


