@import
  '../abstracts/variables',
  '../abstracts/functions',
  '../abstracts/mixins';
  
$font-size-restaurant-title: 28px;

#restaurant {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    
    width: 100%;
    max-width: 100%;
}

.cover {
    height: 275px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
    display: block;
}

.menu {
    @include container-column($padding: 20px 15px 70px 15px);
    gap: 35px;

    width: calc(100% - 30px);
    max-width: 1055px;

    align-items: center;
    border-radius: 35px;

    margin-top: -35px;
    
    position: relative;
    z-index: 4;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media screen and (min-width : 768px) {
            justify-content: center;
            gap: 10px;
        }
    }

    h1 {
        font: $font-size-restaurant-title $font-fam-title-restau;
        text-align: center;
    }

    @include heart-like-btn($position: static);
}

#entree {
    margin-top: -15px;
    animation: apparition 1.5s ease-in-out;
    animation-fill-mode: forwards;

}

#main-course {
    
    opacity: 0;
    animation: apparition 1.5s ease-in-out 1.5s;
    animation-fill-mode: forwards;
}

#dessert {

    opacity: 0;
    animation: apparition 1.5s ease-in-out 3s;
    animation-fill-mode: forwards;
}

.courses {
    @include container-column($padding: 0);
    gap: 12px;
    width: 100%;
    max-width: 768px;

    position: relative;
    z-index: 5;

    h2 {
        font: 300 16px $font-fam-main;

        &::after {
            content: "";
            display: block;
            height: 0px;
            width: 40px;
            border-top: 3px solid $tertiary-color;
            margin-top: 5px;
        }
    }
    input {
        display: none;
    }
}

.container-btn-choice {

    position: relative;
    z-index: 6;

    background-color: white;
    border-radius: 15px;
    
    box-shadow: 0px 5px 10px #00000025;
    
    display: grid;
    grid-template-columns: 100% auto;
    transition: all .4s;

    &:hover {
        cursor: pointer;
    }
}

.btn-choice {
    
    position: relative;
    z-index: 2;

    padding: 15px;
    background-color: white;
    border-radius: 15px;

    h3 {
        font: 500 18px $font-fam-main;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__details-price {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
            font: 300 15px $font-fam-main;
        }

        & > .ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.btn-choice__layer {
    
    position: absolute;
    z-index: 0;

    top: 0;
    right: 0;
    
    
    height: 100%;
    width: 60px;
    background: $tertiary-color;    
    border-radius: 0 15px 15px 0;
    
    opacity: 1;

    i {
        color: white;
        font-size: 1.4rem;
        
        position: absolute;
        z-index: -1;
        
        top: 26px;
        right: 20px;
    
        transform: translateX(45px) scale(0);
        opacity: 0;
        transition: all .4s ease-in-out;        
    }   
}

.container-btn-choice:hover {

    grid-template-columns: calc(100% - 60px) 60px; 
}


.container-btn-choice:hover i {
    
    transform: translateX(0px);
    opacity: 1;
}

.container-btn-choice:hover b {
    
    padding-left: 15px;
}
  
@media screen and (min-width: 1440px) {

    .container-btn-choice:hover {

        grid-template-columns: calc(100% - 60px) 60px;
        
    }
    
    .container-btn-choice:hover i {
        
        transform: translateX(0px);
        opacity: 1;
    }   
}

.btn-order {
    @include cta-pink($margin-top: 0);
}

@keyframes apparition {

    0% {opacity: 0;}
    100% {opacity: 1;}  
}